:root {
    --spacing-lg: 48px;
    --spacing-md: 24px;
    --spacing-sm: 12px;
    --spacing-xsm: 6px;

    --color-error: #c63f3f;
    --color-secondary: #717171;
    --color-black: #000000;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, "Source Han Sans", sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

.inline-block {
    display: inline-block;
}

.text-error {
    color: var(--color-error);
}

.text-secondary {
    color: var(--color-secondary);
}

.body-container {
    margin-top: var(--spacing-lg);
    margin-left: 10%;
    margin-right: 10%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-align-center {
    align-items: center;
}

.flex-align-start {
    align-items: start;
}

.margin-bot-md {
    margin-bottom: var(--spacing-md);
}

.margin-right-md {
    margin-right: var(--spacing-md);
}

.margin-bot-sm {
    margin-bottom: var(--spacing-sm);
}

.margin-bot-xsm {
    margin-bottom: var(--spacing-xsm);
}

.link-plain, .link-plain:hover, .link-plain:active {
    text-decoration: none;
    color: var(--color-black);
}


#search-form-section .word-input {
    width: calc(100% - 150px);
}

#search-form-section input[type=submit] {
    width: 120px;
}


#jisho-section .kanji-with-reading h1,
#jisho-section .kanji-with-reading h4 {
    display: inline-block;
}
