<!DOCTYPE html>

<html>
<head>
    <title>Omnikanji</title>
    <meta charset="utf-8"/>
</head>
<body>

<section>
    <form action="/search/">
        <label for="word-input">
            Word
        </label>
        <input name="word" id="word-input" type="text" placeholder="言葉" value="言葉"/>
        <input type="submit"/>
    </form>
</section>

{{ if . }}
{{ if .Error }}
<section>
    <span>
       ERROR! {{.Error}}
    </span>
</section>
{{ end }}

{{ if not (or .Jisho .Kanjidmg) }}
<section>
    <span>
        No results
    </span>
</section>
{{ end }}

{{ if .Jisho }}
<section>
    <h1>Jisho</h1>

    <a href="{{.Jisho.Link}}">{{.Jisho.WordSection.Word}} at jisho.org</a>

    <h1>{{.Jisho.WordSection.Word}}</h1>
    <h3>{{.Jisho.WordSection.Reading}}</h3>

    <ol>
        {{ range $idx, $m := .Jisho.WordSection.Meanings }}
        <li>
            <h4>{{$m.Meaning}}</h4>
            {{ if $m.Tags }}
            <span>{{ $m.Tags }}</span>
            {{ end }}
        </li>
        {{ end }}
    </ol>

</section>
{{ end }}

{{ if .Kanjidmg }}
<section>
    <h1>Kanjidamage</h1>

    {{ range $idx, $sect := .Kanjidmg }}
    <a href="{{$sect.WordSection.Link}}">{{$sect.WordSection.Kanji}} at kanjidamage.com</a>

    <h1>{{$sect.WordSection.Kanji}}</h1>
    <span>{{$sect.WordSection.Meaning}}</span>

    <ol>
        {{ range $jdx, $radical := $sect.Radicals }}
        <li>
            <a href="{{$radical.Link}}">
                {{ if $radical.Kanji }}
                <span>{{$radical.Kanji}} {{$radical.Meaning}}</span>
                {{ else if $radical.KanjiImage }}
                <span>
                    <img alt="{{$radical.Meaning}}" src="data:image/png;base64,{{$radical.KanjiImage}}"/>
                    {{$radical.Meaning}}
                </span>
                {{ end }}
            </a>
        </li>
        {{ end }}
    </ol>

    <h2>Mnemonic</h2>
    <h3>{{$sect.Mnemonic}}</h3>

    <h2>Onyomi</h2>
    <h3>{{$sect.Onyomi}}</h3>

    {{ end }}
</section>
{{ end }}
{{ end }}

</body>
</html>