<!DOCTYPE html>
<html>
<head>
    <title>Omnikanji</title>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>

<div class="body-container">
    <section id="search-form-section" class="margin-bot-md">
        <form action="/search/">
            <label for="word-input">
            </label>
            <input name="word" id="word-input" class="word-input" type="text" placeholder="言葉" value="言葉"/>
            <input type="submit" value="Search"/>
        </form>
    </section>

    {{ if . }}
    {{ if .Error }}
    <section id="error-section" class="margin-bot-md">
        <h3 class="text-error">
            {{.Error}}
        </h3>
    </section>
    {{ else }}
    {{ if not (or .Jisho .Kanjidmg) }}
    <section>
        <h4>
            No results
        </h4>
    </section>
    {{ end }}
    {{ end }}


    {{ if .Jisho }}
    <section id="jisho-section" class="margin-bot-md">
        <h1 class="margin-bot-sm">Jisho</h1>
        <h3 class="margin-bot-sm">Word</h3>

        <div class="flex-row">
            <div class="margin-right-md">
                <div class="flex-col flex-align-start margin-bot-sm">
                    <div class="flex-col flex-align-center">
                        <h1>{{.Jisho.WordSection.Word}}</h1>
                        <h5>{{.Jisho.WordSection.Reading}}</h5>
                    </div>
                </div>

                <div class="margin-bot-sm">
                    <a href="{{.Jisho.Link}}">{{.Jisho.WordSection.Word}} at jisho.org</a>
                </div>
            </div>


            <div>
                <ol>
                    {{ range $idx, $m := .Jisho.WordSection.Meanings }}
                    <li class="margin-bot-sm">
                        {{ if $m.Tags }}
                        <div class="margin-bot-xsm text-secondary">{{ $m.Tags }}</div>
                        {{ end }}
                        <h4>{{$m.ListIdx}}. {{$m.Meaning}}</h4>
                    </li>
                    {{ end }}
                </ol>
            </div>
        </div>

        <aside>
            <h3 class="margin-bot-md">Kanji</h3>
            <div class="">
                {{ range $idx, $k := .Jisho.Kanjis }}
                <div class="flex-row">
                    <div class="margin-right-md margin-bot-sm">
                        <h1>
                            <a href="{{$k.Kanji.Link}}" class="link-plain">{{$k.Kanji.Word}}</a>
                        </h1>
                    </div>

                    <div class="flex-col margin-bot-sm">
                        <h4 class="margin-bot-sm">{{$k.Meaning}}</h4>
                        <div class="margin-bot-xsm">
                            <h5 class="inline-block">Kun:</h5>
                            {{ range $jdx, $r := $k.Kunyomis }}
                            <h5 class="inline-block">
                                <a href="{{$r.Link}}" class="link-plain">{{$r.Word}}</a>
                                <span>, </span>
                            </h5>
                            {{ end }}
                        </div>

                        <div>
                            <h5 class="inline-block">On:</h5>
                            {{ range $jdx, $r := $k.Onyomis }}
                            <h5 class="inline-block">
                                <a href="{{$r.Link}}" class="link-plain">{{$r.Word}}</a>
                                <span>, </span>
                            </h5>
                            {{ end }}
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </aside>
    </section>
    {{ end }}

    {{ if .Kanjidmg }}
    <section id="kanjidmg-section">
        <h1>Kanjidamage</h1>

        {{ range $idx, $sect := .Kanjidmg }}
        <a href="{{$sect.WordSection.Link}}">{{$sect.WordSection.Kanji}} at kanjidamage.com</a>

        <h1>{{$sect.WordSection.Kanji}}</h1>
        <span>{{$sect.WordSection.Meaning}}</span>

        <ol>
            {{ range $jdx, $radical := $sect.Radicals }}
            <li>
                <a href="{{$radical.Link}}">
                    {{ if $radical.Kanji }}
                    <span>{{$radical.Kanji}} {{$radical.Meaning}}</span>
                    {{ else if $radical.KanjiImage }}
                    <span>
                    <img alt="{{$radical.Meaning}}" src="data:image/png;base64,{{$radical.KanjiImage}}"/>
                    {{$radical.Meaning}}
                </span>
                    {{ end }}
                </a>
            </li>
            {{ end }}
        </ol>

        <h2>Mnemonic</h2>
        <h3>{{$sect.Mnemonic}}</h3>

        <h2>Onyomi</h2>
        <h3>{{$sect.Onyomi}}</h3>

        {{ end }}
    </section>
    {{ end }}
    {{ end }}

</body>
</html>
</div>

