<!DOCTYPE html>
<html>
<head>
    <title>Omnikanji</title>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>

<div class="body-container">
    <section id="search-form-section" class="margin-bot-md">
        <form action="/search/">
            <label for="word-input">
            </label>
            <input name="word" id="word-input" class="word-input" type="text" placeholder="言葉" value=""/>
            <input type="submit" value="Search"/>
        </form>
    </section>

    {{ if . }}
    {{ if .Error }}
    <section id="error-section" class="margin-bot-md">
        <h3 class="text-error">
            {{.Error}}
        </h3>
    </section>
    {{ else }}
    {{ if not (or .Jisho .Kanjidmg) }}
    <section>
        <h4>
            No results
        </h4>
    </section>
    {{ end }}
    {{ end }}


    {{ if .Jisho }}
    <section id="jisho-section" class="margin-bot-md">
        <h1 class="margin-bot-sm">Jisho</h1>
        {{ if .EnglishSearchedWord }}
            <div class="margin-bot-md">
                <a target="_blank" href="{{.JishoEnglishWordLink}}">{{ .EnglishSearchedWord }} at jisho.org</a>
            </div>
        {{ end }}

        <div class="flex-row">
            <div class="margin-right-md">
                <div class="flex-col flex-align-start margin-bot-sm">
                    <div class="flex-col flex-align-center">
                        <span>
                        {{ range $idx, $w := .Jisho.WordSection.Parts }}
                            {{ if ne $w.Reading "" }}
                            <ruby class="word-part">
                                {{$w.MainText}}
                                <rp>(</rp><rt class="furigana">{{$w.Reading}}</rt><rp>)</rp>
                            </ruby>
                            {{ else }}
                                <span class="word-part">{{$w.MainText}}</span>
                            {{ end }}
                        {{ end }}
                        </span>
                    </div>
                </div>

                <div class="margin-bot-sm">
                    <a target="_blank" href="{{.Jisho.Link}}">{{.Jisho.WordSection.FullWord}} at jisho.org</a>
                </div>
            </div>


            <div>
                <ol>
                    {{ range $idx, $m := .Jisho.WordSection.Meanings }}
                    <li class="margin-bot-sm">
                        {{ if $m.Tags }}
                        <div class="margin-bot-xsm text-secondary">{{ $m.Tags }}</div>
                        {{ end }}
                        <h4>{{$m.ListIdx}}. {{$m.Meaning}}</h4>
                    </li>
                    {{ end }}
                </ol>
            </div>
        </div>

        {{ if .Jisho.Kanjis }}
        <aside>
            <h3 class="margin-bot-md">Kanji</h3>
            <div class="">
                {{ range $idx, $k := .Jisho.Kanjis }}
                <div class="flex-row">
                    <div class="margin-right-md margin-bot-sm">
                        <h1>
                            <a target="_blank" href="{{$k.Kanji.Link}}" class="link-plain">{{$k.Kanji.Word}}</a>
                        </h1>
                    </div>

                    <div class="flex-col margin-bot-sm">
                        <h4 class="margin-bot-sm">{{$k.Meaning}}</h4>
                        <div class="margin-bot-xsm">
                            <h5 class="inline-block">Kun:</h5>
                            {{ range $jdx, $r := $k.Kunyomis }}
                            <h5 class="inline-block">
                                <a target="_blank" href="{{$r.Link}}" class="link-plain">{{$r.Word}}</a>
                                <span>, </span>
                            </h5>
                            {{ end }}
                        </div>

                        <div>
                            <h5 class="inline-block">On:</h5>
                            {{ range $jdx, $r := $k.Onyomis }}
                            <h5 class="inline-block">
                                <a target="_blank" href="{{$r.Link}}" class="link-plain">{{$r.Word}}</a>
                                <span>, </span>
                            </h5>
                            {{ end }}
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </aside>
        {{ end }}
    </section>
    {{ end }}

    {{ if .Kanjidmg }}
    <section id="kanjidmg-section">
        <h1 class="margin-bot-sm">Kanjidamage</h1>

        {{ range $idx, $sect := .Kanjidmg }}

        <div class="margin-bot-lg">
            <div class="flex-row margin-bot-sm">
                <div class="margin-right-lg">
                    <div class="flex-row flex-align-center margin-bot-xsm">
                        <h1 class="margin-right-md">{{$sect.WordSection.Kanji}}</h1>
                        <h4>{{$sect.WordSection.Meaning}}</h4>
                    </div>
                </div>

                <div class="flex-row">
                    {{ range $jdx, $radical := $sect.Radicals }}
                    <div class="flex-col flex-align-center margin-right-md">
                        <a target="_blank" class="link-plain" href="{{$radical.Link}}">
                            {{ if $radical.Kanji }}
                            <h3>{{$radical.Kanji}}</h3>
                            {{ else if $radical.KanjiImage }}
                            <h3>
                                <img class="kanji-img" alt="{{$radical.Meaning}}"
                                     src="data:image/png;base64,{{$radical.KanjiImage}}"/>
                            </h3>
                            {{ end }}
                        </a>

                        <h5>
                            {{$radical.Meaning}}
                        </h5>
                    </div>
                    {{ end }}
                </div>
            </div>

            {{ if $sect.Onyomi }}
            <div class="margin-bot-xsm flex-row flex-align-baseline">
                <h4 class="margin-right-xsm">On:</h4>
                <h5>{{$sect.Onyomi}}</h5>
            </div>
            {{ end }}

            {{ if $sect.Mnemonic }}
            <div class="margin-bot-sm">
                <h2 class="margin-bot-xsm">Mnemonic</h2>
                <h4>{{$sect.Mnemonic}}</h4>
            </div>
            {{ end }}

            <div>
                <a target="_blank" href="{{$sect.WordSection.Link}}">{{$sect.WordSection.Kanji}} at kanjidamage.com</a>
            </div>
        </div>
        {{ end }}
    </section>
    {{ end }}

    {{ end }}
</body>
</html>
</div>

